<h2>Users</h2>


<h3>Sign Up</h3>
<form action="/signup" method="POST">
  <p>Name: <input type="text" name="username"></p>
  <p>Password: <input type="text" name="password"></p>
  <input class="btn btn-primary" type="submit">
</form>
