<h1>Add a New Golf Bag</h1>

<form action="/bags" method="POST">
  <label> Bag Name </label>
  <input type="text" name="name"> </br>

  <label> Bag Capacity </label>
  <input type="number" name="capacity"> </br>

  <input type="submit" value="Create">
</form>
