<h1>Add a New Golf Club</h1>

<form action="/clubs" method="POST">
  <label> Club Name </label>
  <input type="text" name="name"> </br>

  <label> Club Manufacturer </label>
  <input type="text" name="manufacturer"> </br>

  <label> Which Golf Bag does this belong in? </label>
  <select name="golf_bag_id">
    <% current_user.golf_bags.each do |bag| %>
      <option value=<%=bag.id %>><%= bag.name %></option>
    <% end %>
  </select>

  <input type="submit" value="Create">
</form>
